@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "main";
  default: true;
  color-scheme: dark;
  --color-primary: #818CF8;
  --color-primary-content: #ffffff;
  --color-secondary: #38BDF8;
  --color-secondary-content: #ffffff;
  --color-accent: #F471B5;
  --color-accent-content: #ffffff;
  --color-neutral: #1E293B;
  --color-neutral-content: #ffffff;
  --color-base-100: #000000;
  --color-base-content: #ffffff;
  --color-info: #0CA5E9;
  --color-info-content: #ffffff;
  --color-success: #2DD4BF;
  --color-success-content: #ffffff;
  --color-warning: #F4BF50;
  --color-warning-content: #1f2937;
  --color-error: #FB7085;
  --color-error-content: #ffffff;
}

body,
html {
  overflow: hidden;
}
